.image_holder {
}

.image_holder img {
    position: absolute;
}

#slider_div {

}

.control_container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sccene_label {
    margin-left: 20px;
}

img {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}